
/*

_container.scss

K:\aaa_TransZ_DT201607\Ralph\Udemy\C023_Complete_React_Web_Dev\Sections\
SEC_008_Styling_React\proj_01\Indecision-app\src\styles\components\_container.scss


//  SEC_008 --- 67. Theming with Variables 14:18



K:\aaa_TransZ_DT201607\Ralph\Udemy\C023_Complete_React_Web_Dev\Sections\
SEC_008_Styling_React\proj_01\Indecision-app\src\styles\styles.scss

@import './components/container';


top and bottom set to zero, left and right to auto
    if the browser is 70rem's wide,
    then auto will set the margin to 5rem's on either side.

    margin: 0 auto;
*/

/*
 */

.container
{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 $m-size;
}

