
/*

_header.scss

K:\aaa_TransZ_DT201607\Ralph\Udemy\C023_Complete_React_Web_Dev\Sections\
SEC_008_Styling_React\proj_01\Indecision-app\src\styles\components\_header.scss


//  SEC_008 --- 65. Architecture and Header Styles 14:48


K:\aaa_TransZ_DT201607\Ralph\Udemy\C023_Complete_React_Web_Dev\Sections\
SEC_008_Styling_React\proj_01\Indecision-app\src\styles\styles.scss

@import './components/header';

*/

.header
{
    background: $off-black;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}


//  BEM naming convention -> Block Element Modifier

.header__title
{
    font-size: $l-size;
    margin: 0;
}

.header__subtitle
{
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}


//  SEC_008 --- 72. Mobile Considerations 12:57

@media (min-width: $desktop-breakpoint)
{

.header
{
    margin-bottom: $xl-size;
}

}
