
/*

_settings.scss

K:\aaa_TransZ_DT201607\Ralph\Udemy\C023_Complete_React_Web_Dev\Sections\
SEC_008_Styling_React\proj_01\Indecision-app\src\styles\base\_settings.scss


//  SEC_008 --- 67. Theming with Variables 14:18

.header
{
    background: #20222b;

 */

$off-black: #20222b;
$xxxoff-black: red;
$off-white: #a5afd7;
$dark-blue: #333745;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;

$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;

$desktop-breakpoint: 45rem;
